<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Litestream</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/litestream/style" %>
  </head>
  <body class="h-full flex flex-col dark:bg-gray-900 dark:text-white">
    <main class="container mx-auto max-w-4xl mt-4 px-2 grow">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <footer class="container mx-auto mt-24 flex items-center justify-between border-t dark:border-gray-800 px-2 py-4 text-base">
      <p>
        <code><strong>Litestream</strong></code>&nbsp;&nbsp;|&nbsp;
        Made by <a href="https://twitter.com/fractaledmind" class="text-blue-500 hover:underline decoration-blue-500">@fractaledmind</a> and <a href="https://github.com/fractaledmind/litestream-ruby/graphs/contributors" class="text-blue-500 hover:underline decoration-blue-500">friends</a>! Want to help? It's <a href="https://github.com/fractaledmind/litestream-ruby" class="text-blue-500 hover:underline decoration-blue-500">open source</a>!
      </p>
    </footer>

    <div class="fixed top-0 left-0 right-0 text-center py-2">
      <% if notice.present? %>
        <p id="notice"
           class="py-2 px-3 bg-green-50 dark:bg-green-900 text-green-500 font-medium rounded-lg inline-block"
           data-controller="fade">
          <%= notice.html_safe %>
        </p>
      <% end %>

      <% if alert.present? %>
        <p id="alert"
           class="py-2 px-3 bg-red-50 dark:bg-red-900 text-red-500 font-medium rounded-lg inline-block"
           data-controller="fade">
          <%= alert.html_safe %>
        </p>
      <% end %>
    </div>

    <script nonce="<%= content_security_policy_nonce %>">
      function fadeOut(element) {
        element.classList.add('transition-opacity')
        setTimeout(
          () => {
            element.classList.add('opacity-0')
            element.remove()
          },
          5000
        )
      }
      document.querySelectorAll('[data-controller="fade"]').forEach(element => {
        fadeOut(element);
      });
    </script>
  </body>
</html>
